<form action="/names" method="post">
  Input player 1 name:
  <input type="text" name="player_1_name">
  Input player 2 name:
  <input type='text' name="player_2_name">
  <input type="submit" value="Submit">
</form>
